#hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  #name {
    letter-spacing: 1px;
  }
  #title {
    letter-spacing: 2px;
  }
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.subtitle,
#portfolioBtn {
  margin-top: 0.4rem;
}

#portfolioBtn {
  background-color: transparent;
  border: 1px solid hsl(167, 90%, 40%);
  color: hsl(167, 90%, 35%);
}

#portfolioBtn:hover {
  background-color: hsl(167, 90%, 40%);
  color: #131313;
}