#contact {
  section {
    h1 {
      text-align: center;
    }

    #contactBtn {
      display: flex;
      justify-content: flex-end;
    }

    #socials {
      display: flex;
      justify-content: center;
    }
  }
}