#contact {
  height: 100vh;

  section {
    h1 {
      text-align: center;
    }

    #socials {
      margin-top: 2rem;
    }

    #email {
      margin-top: 2rem;

      h4 {
        margin-bottom: 1rem;
      }
    }
  }
}