form {
  .field {
    label {
      letter-spacing: 1px;
      color: hsl(80, 5%, 59%);
    }

    .control {
      input,
      textarea {
        background-color: hsla(167, 30%, 40%, 0.1);
        border: 2px solid hsl(167, 40%, 20%);
        backdrop-filter: blur(10px);
      }
    }
  }
}

#contact {
  section {
    div {
      #socials-wrapper {
        #socials {
          a {
            position: relative;
            background-color: hsla(167, 30%, 40%, 0.1);
            border: 2px solid hsl(167, 40%, 20%);
            backdrop-filter: blur(10px);
          }
          a:hover {
            background-color: hsla(167, 30%, 20%, 0.1);
          }
        }
      }
    }

    #go-to-top {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 10px;
      i {
        margin-bottom: 5px;
      }
    }
    #go-to-top:hover {
      color: hsl(167, 90%, 60%);
    }
  }
}

#contact-info {
  margin-bottom: 40px;
}