.tech-card {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 75px;
  min-width: 275px;
  
  padding: 5px 10px;
  gap: 15px;

  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(10px);
  cursor: default;

  img {
    /* background: #000; */
    max-width: 50px;
    max-height: 50px;
  }
}

/* @media only screen and (min-width: 538px) {
  .tech-card {
    width: 200px;
  }
} */

@media only screen and (min-width: 768px) {
  .tech-card {
    width: 200px;
  }
}